section{
	padding-top: 2%;
	padding-left: 2%;
	background-color: #eee;
}
section h2{
	padding-left: 5%;
}
section hr{
	border-top:3px solid #ccc;
	margin-bottom:30px;
	margin-top:0.2%;
	width:80%;
}
.user-options{
	width:30%;
	padding-left:2%;
	/*border: 1px solid black;*/
}

.user-options li{
	font-size: 1.2em;
	padding-bottom: 2%;
}

.user-options li a{
	text-decoration: none;
	color:black;
}
.user-options li a:hover{
	text-decoration: underline;
	color:black;
}
.user-options li a:visited{
	text-decoration: underline;
	color:black;
}